decorator==3.4.2
Flask==0.10.1
Flask-Bootstrap==3.3.0.1
flask-oidc==0.1.2
Flask-SocketIO==0.6.0
gevent==1.0.1
gevent-socketio==0.3.6
gevent-websocket==0.9.3
greenlet==0.4.5
html5lib==0.999
httplib2==0.9.1
isodate==0.5.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
networkx==1.9.1
numpy==1.9.1
oauth2client==1.4.7
pandas==0.15.2
pyasn1==0.1.7
pyasn1-modules==0.0.5
pyparsing==2.0.3
python-dateutil==2.4.0
python-magic==0.4.6
pytz==2014.10
rdflib==4.1.2
requests==2.5.1
rsa==3.1.4
six==1.8.0
SPARQLWrapper==1.6.4
Werkzeug==0.9.6
xlrd==0.9.3
