@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);


html, body {
    margin: 0;
    min-height: 100%;
}

body {
  padding-top: 60px;
  position: relative;
}
@media (max-width: 979px) {
  body {
    padding-top: 60px;
    position: relative;
    overflow: scroll;
  }
}

#left_menu {
  background-color: #fafafa;
  box-shadow: 2px 2px 5px #eee;
}

/* overlay styles, all needed */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9000;
}

.qber-modal {
    width: 70%;
    height: 180%;
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -100px;
    margin-left: -50px;
    /*background-color: #f1c40f;*/
    background-color: white;
    border-radius: 5px;
    /*text-align: center;*/
    overflow: auto;
    padding: 2em;
    z-index: 9001; /* 1px higher than the overlay layer */
}

nav {
  background-color: white;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: Signika;
}
