{% extends "bootstrap/base.html" %}
{% block title %}CLARIAH Inspector{% endblock %}

{% block metas %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}


<div id='qber'>

</div>
<div class="message-panel" id="message_panel">

</div>

{% endblock %}

{% block scripts %}
{{super()}}

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}" />
<link rel="stylesheet" href="{{url_for('.static', filename='qber.css')}}" />

{% endblock %}
