{% extends "bootstrap/base.html" %}
{% block title %}CLARIAH QBer{% endblock %}

{% block metas %}
<meta name="google-signin-client_id" content="693352032871-11385rcadjcf688bojnp2hr998g0llpm.apps.googleusercontent.com">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CLARIAH QBer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href='#' id='dataset-name'></a></li>
        <li id='load-menu'>
            <a id="load" data-toggle="modal" data-target="#open-dataset-modal">
              <span class="glyphicon glyphicon-folder-open" style='margin-right: .5em;' aria-hidden="True"></span>Load
            </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#"><span id="profile-image" style='margin-right: .5em'></span>
          <span id="profile-name"></span></a>
        </li>
        <li><a style='height: 45px; padding: 4px 6px;'><span class="g-signin2 pull-left" data-onsuccess="on_sign_in"></span></a></li>
        <li><a id='signout' onclick='signOut();'><span class='glyphicon glyphicon-off' style='margin-right: .5em;' aria-hidden="True"></span>Sign out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12" id='menu'>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id='variable-panel'>
        </div>
    </div>
</div>

{% include 'open-dataset-modal.html' %}

{% endblock %}

{% block scripts %}

{{super()}}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="{{url_for('.static', filename='selectize.js')}}"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp-min.js"></script> -->
<script src="{{url_for('.static', filename='jquery.storageapi.min.js')}}"></script>
<!-- <script src="{{url_for('.static', filename='form2js.js')}}"></script> -->
<!-- <script src="{{url_for('.static', filename='js2form.js')}}"></script> -->
<!-- <script src="{{url_for('.static', filename='jquery.toObject.js')}}"></script> -->
<!-- <script src="{{url_for('.static', filename='levenshtein.js')}}"></script> -->
<script src="{{url_for('.static', filename='qber.js')}}"></script>

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='selectize.css')}}" />
<link rel="stylesheet" href="{{url_for('.static', filename='selectize.bootstrap3.css')}}" />
<link rel="stylesheet" href="{{url_for('.static', filename='qber.css')}}" />



{% endblock %}
