{% extends "bootstrap/base.html" %}
{% block title %}CLARIAH QBer{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>CLARIAH QBer 
              <small id='dataset-name'></small>
              <small id="load-menu">
                <div id="load" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#open-dataset-modal">
                  <span class="glyphicon glyphicon-folder-open" aria-hidden="True"></span>&nbsp;Load
                </div>
              </small>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id='menu'>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id='variable-panel'>
        </div>
    </div>
</div>

{% include 'open-dataset-modal.html' %}

{% endblock %}

{% block scripts %}

{{super()}}

<script src="{{url_for('.static', filename='selectize.js')}}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp-min.js"></script>
<script src="{{url_for('.static', filename='jquery.storageapi.min.js')}}"></script>
<script src="{{url_for('.static', filename='form2js.js')}}"></script>
<script src="{{url_for('.static', filename='js2form.js')}}"></script>
<script src="{{url_for('.static', filename='jquery.toObject.js')}}"></script>
<script src="{{url_for('.static', filename='levenshtein.js')}}"></script>
<script src="{{url_for('.static', filename='qber.js')}}"></script>

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='selectize.css')}}" />
<link rel="stylesheet" href="{{url_for('.static', filename='selectize.bootstrap3.css')}}" />
<!-- <link rel="stylesheet" href="{{url_for('.static', filename='qber.css')}}" /> -->



{% endblock %}

