{% extends 'base.html' %}


{% block content %}
<div class="row">
  <div class="col-lg-3">
    <div class='well'>
      <h4>Legend</h4>
      <table class='table'>
        <tr><th>Inner circle</th><td>dataset</td></tr>
        <tr><th>Outer circle</th><td>resource type</td></tr>
      </table>
      <div id='legend'>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div id='graph'></div>
  </div>
</div>

{% endblock %}


{% block styles %}

{{ super() }}
<link rel="stylesheet"
      href="{{url_for('.static', filename='colorbrewer.css')}}">

<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.outer-circle {
  fill-opacity: 0;
  stroke-opacity: 1;
  stroke-width: 3px;
}

#graph {
  height: 900px;
}

/*.link {
  stroke: #ccc;
}*/

.node text {
  pointer-events: none;
  font: 8px sans-serif;
  color: black;
  stroke: #000;
}

.d3-tip {
  line-height: 1;
  font-size: x-small;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


</style>

{% endblock %}

{% block scripts %}

{{ super() }}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="{{url_for('.static', filename='colorbrewer.js')}}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/inspector');
    var force;

    var types = new Set([]);
    var typemap = {};
    var origins = new Set([]);
    var originmap = {};

    socket.on('connect', function() {
      socket.emit('message', {data: 'Inspector is connected!'});
    });

    socket.on('response', function(msg) {
      console.log(msg);
    });

    socket.on('update', function(msg){
      console.log('Inspector is being updated...')
      console.log(msg.data);
      var nodes = msg.data.nodes;
      var links = msg.data.links;

      fnodes = force.nodes();
      flinks = force.links();

      fnodes.push.apply(fnodes,nodes);
      flinks.push.apply(flinks,links);

      // force.nodes().apply(force.nodes(),nodes);
      // force.edges().apply(force.edges(),edges);

      force.start();

      update_legend();

    });


    // First time we load...
    $(function() {

        $.get('/inspect', function(data){

          console.log(data);

          force = init_graph(data);

          update_legend();
        });


    });


    function update_legend(){
      $('#legend').empty();
      var typelist = $('<div></div>');
      typelist.append('<h5>Types<h5>');
      var ul = $('<ul class="list-group"></ul>');


      types.forEach(function(elem){
        console.log(elem);
        ul.append('<li class="list-group-item" style="overflow: auto;"><span style="font-weight: bold; color: '+ typemap[elem] +';">'+ elem +'</span></li>');

      });

      typelist.append(ul);
      $('#legend').append(typelist);

      var originlist = $('<div></div>');

      originlist.append('<h5>Datasets<h5>');
      var ul = $('<ul class="list-group"></ul>');


      origins.forEach(function(elem){
        console.log(elem);
        ul.append('<li class="list-group-item" style="overflow: auto;"><span style="font-weight: bold; color: '+ originmap[elem] +';">'+ elem.replace('http://data.socialhistory.org/resource/','csdh:') +'</span></li>');

      });

      originlist.append(ul);
      $('#legend').append(originlist);

    }

    function init_graph(graph){
      var width = 1200,
          height = 600;

      // var color = d3.scale.category20b();
      var color2 = d3.scale.ordinal().range(colorbrewer.Set3[12]);

      var color = d3.scale.ordinal().range(colorbrewer.Paired[3]);

      var force = d3.layout.force()
          .charge(-120)
          .linkDistance(50)
          .size([width, height]);

      var svg = d3.select("#graph").append("svg")
          .attr("width", width)
          .attr("height", height);

      var tip = d3.tip()
        .attr('class', 'd3-tip')
        .offset([-10, 0])
        .html(function(d) {
          if (d.type == 'person'){
            var content = "<h5>" + d.name + "</h5>"+
                   "<img src='"+ d.image +"'></img>";
          } else {
            var content = "<h5>" + d.name.replace('http://data.socialhistory.org/resource/','csdh:') + "</h5>"+
                   "<strong>Type:</strong> <span style='color: "+ color(d.type) +";'>" + d.type + "</span><br/>" +
                   "<strong>Origin:</strong> <span style='color: "+ color2(d.origin) +";'>" + d.origin.replace('http://data.socialhistory.org/resource/','csdh:') + "</span>";
          }
          return content
        });

      svg.call(tip);

      force
          .nodes(graph.nodes)
          .links(graph.links)
          .start();



      var link = svg.selectAll(".link")
          .data(graph.links)
        .enter().append("line")
          .attr("class", "link")
          .style("stroke-width", function(d) { return 2; }); // Math.sqrt(d.value); });

      var node = svg.selectAll(".node")
          .data(graph.nodes)
        .enter().append("g")
          .attr("class", "node")
          .call(force.drag)
          .on('mouseover', tip.show)
          .on('mouseout', tip.hide);

      node.append("title")
          .text(function(d) { return d.name.replace('http://data.socialhistory.org/resource/','csdh:'); });

      node.append("circle")
          .attr("r", function(d) {
                          if (d.type == 'dataset') {
                            return 15;
                          } else {
                            return 5;
                          }
                     })
          .style("fill", function(d) {
                          if (d.type == 'person') {
                            return "#000";
                          } else {
                            origins.add(d.origin); originmap[d.origin] = color2(d.origin); return color2(d.origin);
                          }
                          });

      node.append("circle")
          .attr("r", function(d) {
                          if (d.type == 'person') {
                            return 7;
                          } else if (d.type == 'dataset') { return 18; } else { return 8;}
                     })
          .attr("class", "outer-circle")
          .style("stroke", function(d) {
                          types.add(d.type);
                          if (d.type == 'person') {
                            typemap[d.type] = '#000';
                          } else {

                            typemap[d.type] = color(d.type);
                            return color(d.type);
                          }});




      force.on("tick", function() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
        // node.attr("cx", function(d) { return d.x; })
        //     .attr("cy", function(d) { return d.y; });
      });

      return force
  }

</script>

{% endblock %}
