  <div class="form-group">
  <select class="form-control" id="variable-menu" placeholder="Select a variable...">
  {% for id in items %}
    <option value="{{id}}" class="variable-menu-item">{{id}}</a>
  {% endfor %}
  </select>
  

<!--  <button id="variable-menu" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded='false'>
    Variable <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  {% for id in items %}
    <li><a class="variable-menu-item" target="{{ id }}">{{ id }}</a>
  {% endfor %}
  </ul>
  <span class="btn-separator"></span> -->
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <button id="submit" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cloud"></span> Submit to CSDH</button>
    </div>
    <div class="btn-group" role="group">
      <button id="reset" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Reset</button>
    </div>
  </div>
</div>
<hr/> 