    <div class="panel panel-default variable variable-panel" id="var_{{ id }}" 
          save_button="#save_button_{{ id}}" 
          form="#form_{{ id}}" 
          codelist_field="#codelist_field_{{ id }}" 
          codelist_checkbox="#codelist_checkbox_{{ id }}" 
          lod_variable_field="#lod_variable_field_{{ id }}"
          learn_definition_checkbox="#learn_definition_checkbox_{{ id }}"
          learn_codelist_checkbox="#learn_codelist_checkbox_{{ id }}">
      <div class="panel-heading">
        <div class="panel-title">
          {{ id }} 
          <div class='btn btn-info btn-xs pull-right save-button' id="save_button_{{ id}}" form="#form_{{ id }}" target="{{ id }}">
            <span class="glyphicon glyphicon-save"></span> Save
          </div>
        </div>
      </div>
      <div class="panel-body" id="body_{{ id }}">
        <form id="form_{{ id }}" name="form">
          <div class="row">
            <div class="col-md-6">
              <div class="control-group form-group">
                <label for="description_{{ id }}">Description</label>
                <textarea id="description_{{ id }}" name="description" class="data form-control" rows="3">{{ description }}</textarea>
              </div>
              <!-- <div class='checkbox'>
                <label>
                  <input id="dimension_map_{{ id }}" name="dimension_map" type="checkbox" class="data"> Map to variable:
                </label>
              </div> -->
              <div class="control-group form-group" id="lod_variable_field_group_{{ id }}">
                <select id="lod_variable_field_{{ id }}" name="lod_variable_field"  class="data form-control" placeholder="Map to a pre-existing variable..."  data-dimension-type="dimension_type_{{ id }}" data-skos-codelist="codelist_field_{{ id }}"></select>
              </div>
          
              <div class="control-group form-group">
                <label for="dimension_type_{{ id }}">Specify the type of variable:</label>
                <select class="data form-control dimension-type-select" id="dimension_type_{{ id }}" name="dimension_type" placeholder="Select variable type"></select>
              </div>
          
              <div class='checkbox'>
                <label>
                  <input id="codelist_checkbox_{{ id }}" name="codelist_checkbox"  class="data" type="checkbox"> Restrict values to code list (SKOS Scheme):
                </label>
              </div>
              
              <div class="control-group form-group" id="codelist_field_group_{{ id }}">
              	<select id="codelist_field_{{ id }}" name="codelist_field"  class="data form-control" placeholder="Select a code list (SKOS Scheme)..."></select>
              </div>
              
              <div class="checkbox">
                  <label>
                    <input id="learn_definition_checkbox_{{ id }}" name="learn_definition_checkbox" type="checkbox" class="data"> Create variable definition from name and description
                  </label>
              </div>
              <div class="checkbox">
                <label>
                  <input id="learn_codelist_checkbox_{{ id }}" name="learn_codelist_checkbox"  class="data" type="checkbox"> Learn code list from values in the dataset
                </label>
              </div>
              
            </div>
            <div class="col-md-6" style="min-height: 350px; max-height: 350px; overflow: auto;">
              
              {% for e in examples %}
                {% if loop.first %}
                  <table class="table table-striped">
                    <thead>
                      <tr><th>Values</th><th>Frequency</th><th id='mappingcol' style='display: none;'>Mapping</th></tr>
                    </thead>
                    <tbody>
                {% endif %}
                    <tr class='valuerow' value='{{ e.id }}'><td>{{ e.id }}</td><td>{{ e.count }}</td></tr>
                {% if loop.last %}
                    </tbody>
                  </table>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </form>

          
          <hr/>


            <!-- <div class="row">

              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input id="use_regex_{{ id }}" name="use_regex" class="data" type="checkbox"> Use regular expression for learning SKOS Concept Scheme
                  </label>
                </div>
                <div class='form-group'>
                  <label for="regex_{{ id }}">Give a regular expression (using the <a target="_new" href="https://docs.python.org/2/library/re.html">Python</a> syntax)</label>
                  <input type="text" id="regex_{{ id }}" name="regex" example="#regex_example_{{ id }}" matches="#regex_matches_{{ id }}" class="data form-control regex" placeholder="(<?all>.*)">
                  <label for="regex_example_{{ id }}">That should match the following string</label>
                  <input type="text" class="data form-control" id="regex_example_{{ id }}" name="regex_example" value="{{ examples[0] }}">
                </div>
              </div>
              <div class='col-md-6'>
                <h6>Matches to the regular expression</h6>
                <div id="regex_matches_{{ id }}">Matches...</div>
              </div>
            </div> -->
        

      </div>
    </div>