    <div class="panel panel-default variable variable-panel" id="var_{{ id }}" save_button="#save_button_{{ id}}" form="#form_{{ id}}" skos_field="#skos_field_{{ id }}" uri_field="#uri_field_{{ id }}">
      <div class="panel-heading">
        <div class="panel-title">{{ id }} <div class='btn btn-primary btn-xs pull-right save-button' id="save_button_{{ id}}" form="#form_{{ id}}" target="{{ id }}">Save</div></div>
      </div>
      <div class="panel-body" id="body_{{ id }}">
        <form id="form_{{ id }}" name="form">
          <div class="row">
            <div class="col-md-6">
              <div class="control-group form-group">
                <label for="description_{{ id }}">Description</label>
                <textarea id="description_{{ id }}" name="description" class="data form-control" rows="3">{{ description }}</textarea>
              </div>
              <div class="checkbox">
                  <label>
                    <input id="dimension_learn_{{ id }}" name="dimension_learn" type="checkbox" class="data"> Create dimension from variable name and description
                  </label>
              </div>
              <div class='checkbox'>
                <label>
                  <input id="dimension_map_{{ id }}" name="dimension_map" type="checkbox" class="data"> Map to dimension:
            	  </label>
              </div>
              <div class="control-group form-group" id="uri_field_group_{{ id }}">
                <select id="uri_field_{{ id }}" name="uri_field"  class="data form-control" placeholder="Select a dimension..."></select>
              </div>
          
              <div class="control-group form-group">
                <label for="dimension_type_{{ id }}">Specify the type of dimension:</label>
                <select class="data form-control dimension-type-select" id="dimension_type_{{ id }}" name="dimension_type" placeholder="Select dimension type"></select>
              </div>
              
            </div>
            <div class="col-md-6" style="min-height: 350px; max-height: 350px; overflow: auto;">
              
              {% for key, value in examples.items() %}
                {% if loop.first %}
                  <table class="table table-striped">
                    <thead>
                      <tr><th>Example Values</th><th>Frequency</th><th id='mappingcol' style='display: none;'>Mapping</th></tr>
                    </thead>
                    <tbody>
                {% endif %}
                    <tr class='valuerow' value='{{ key }}'><td>{{ key }}</td><td>{{ value }}</td></tr>
                {% if loop.last %}
                    </tbody>
                  </table>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          

          
          <hr/>
          <h5>SKOS Concepts</h5>
          
          	<div class='checkbox'>
              <label>
                <input id="restrict_to_skos_{{ id }}" name="restrict_to_skos"  class="data" type="checkbox"> Restrict values to SKOS Scheme:
              </label>
            </div>
          <div class="control-group form-group" id="skos_field_group_{{ id }}">
          	<select id="skos_field_{{ id }}" name="skos_field"  class="data form-control" multiple placeholder="Select one or more SKOS Concept Schemes..."></select>
          </div>
            <div class="checkbox">
              <label>
                <input id="skos_learn_{{ id }}" name="skos_learn"  class="data" type="checkbox"> Learn SKOS Concept Scheme from values
              </label>
            </div>

            <div class="row">
              
              <div class="col-md-6">
                <div class="checkbox">
                  <label>
                    <input id="use_regex_{{ id }}" name="use_regex" class="data" type="checkbox"> Use regular expression for learning SKOS Concept Scheme
                  </label>
                </div>
                <div class='form-group'>
                  <label for="regex_{{ id }}">Give a regular expression (using the <a target="_new" href="https://docs.python.org/2/library/re.html">Python</a> syntax)</label>
                  <input type="text" id="regex_{{ id }}" name="regex" example="#regex_example_{{ id }}" matches="#regex_matches_{{ id }}" class="data form-control regex" placeholder="(<?all>.*)">
                  <label for="regex_example_{{ id }}">That should match the following string</label>
                  <input type="text" class="data form-control" id="regex_example_{{ id }}" name="regex_example" value="{{ examples[0] }}">
                </div>
              </div>
              <div class='col-md-6'>
                <h6>Matches to the regular expression</h6>
                <div id="regex_matches_{{ id }}">Matches...</div>
              </div>
            </div>
        
        </form>
      </div>
    </div>