{% extends "base.html" %}

{% block qber_content %}

<div class="btn-group">
  <button id="variable-menu" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded='false'>
    Variable <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  {% for id, description in metadata.items() %}
    <li><a class="variable-menu-item" target="#var_{{ id }}">{{ id }}</a>
  {% endfor %}
  </ul>
  <span class="btn-separator"></span>
  <button id="submit" type="button" class="btn btn-primary">Submit</button>
</div>
<hr/>

  {% for id, description in metadata.items() %}
    <div class="panel panel-default variable variable-panel" style="display: none;" id="var_{{ id }}" skos_field="#skos_field_{{ id }}" uri_field="#uri_field_{{ id }}">
      <div class="panel-heading">
        <div class="panel-title">{{ id }}</div>
      </div>
      <div class="panel-body" id="body_{{ id }}">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="control-group form-group">
                <label for="description_{{ id }}">Description</label>
                <textarea id="description_{{ id }}" class="form-control" rows="3">{{ description }}</textarea>
              </div>
              <div class="checkbox">
                <label>
                  <input id="dimension_learn_{{ id }}" type="checkbox"> Create dimension from variable name and description
                </label>
              </div>              
              <div class="control-group form-group" id="uri_field_group_{{ id }}">
              	<label for="uri_field_{{ id }}">
                  <input id="dimension_map_{{ id }}" type="checkbox"> Map to dimension:
                </label>
              	<select id="uri_field_{{ id }}" multiple placeholder="Select a dimension..."></select>
              </div>
          
              <div class="control-group form-group">
                <label for="dimension_type_{{ id }}">Specify the type of dimension:</label>
                <select class="form-control dimension-type-select" id="dimension_type_{{ id }}" placeholder="Select dimension type"></select>
              </div>
              
            </div>
            <div class="col-md-6" style="max-height: 200px; overflow: auto;">
              
              {% for value in examples[id] %}
                {% if loop.first %}
                  <table class="table table-striped">
                    <thead>
                      <tr><th>Example Values</th></tr>
                    </thead>
                    <tbody>
                {% endif %}
                    <tr><td>{{ value }}</td></tr>
                {% if loop.last %}
                    </tbody>
                  </table>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          

          
          <hr/>
          <h5>SKOS Concepts</h5>
          <div class="control-group form-group" id="skos_field_group_{{ id }}">
          	<label for="skos_field_{{ id }}">
              <input id="restrict_to_skos_{{ id }}" type="checkbox"> Restrict values to SKOS Scheme:
            </label>
          	<select id="skos_field_{{ id }}" multiple placeholder="Select one or more SKOS Concept Schemes..."></select>
          </div>
          <form class="form-inline">
            <div class="checkbox">
              <label>
                <input id="skos_learn_{{ id }}" type="checkbox"> Learn SKOS Concept Scheme from values
              </label>
            </div>

            <div class="row">

              <div class="form-group col-md-6">
                <div class="checkbox">
                  <label>
                    <input id="use_regex_{{ id }}" type="checkbox"> Use regular expression for learning SKOS Concept Scheme
                  </label>
                </div>
                <label for="regex_{{ id }}">Give a regular expression</label>
                <input type="text" id="regex_{{ id }}" example="#regex_example_{{ id }}" matches="#regex_matches_{{ id }}" class="form-control regex" placeholder="(<?all>.*)">
                <label for="regex_example_{{ id }}">That should match the following string</label>
                <input type="text" class="form-control" id="regex_example_{{ id }}" value="{{ examples[id][0] }}">
              
              </div>
              <div class='col-md-6'>
                <h6>Matches to the regular expression</h6>
                <div id="regex_matches_{{ id }}">Matches...</div>
              </div>
            </div>
          </form>
        
        </form>
      </div>
    </div>
  {% endfor %}


{% endblock %}

{% block scripts %}
  <script>
    var dimensions = {{ dimensions|safe }};
    var schemes = {{ schemes|safe }};
    
  </script>
  {{ super() }}
{% endblock %}