{% extends "bootstrap/base.html" %}
{% block title %}CLARIAH QBer{% endblock %}

{% block metas %}
<meta name="google-signin-client_id" content="693352032871-11385rcadjcf688bojnp2hr998g0llpm.apps.googleusercontent.com">
{% endblock %}

{% block navbar %}
<bla></bla>
{% endblock %}

{% block content %}


<div id='qber'>

</div>
<div class="message-panel" id="message_panel">

</div>

{% endblock %}

{% block scripts %}
{{super()}}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="dist/js/bundle.js"></script>

{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}" />
<link rel="stylesheet" href="{{url_for('.static', filename='qber.css')}}" />

{% endblock %}
